*{
    padding: 0;
    margin: 0;
}

.containerA{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 0px 40px 0px;
}

.containerC{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 40px 0px;
}

.containerB{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 0px 0px;
}

.box{
    background-color: rgb(120, 209, 221);
    color: rgb(0, 2, 2);
    text-align: center;
    padding: 70px;
    font-size: large;
}



     


